<div class="cart" *ngIf="cart$ | async as cart">
    <div class="total-price">
        Total: {{cart.total | currency:'EUR'}}
    </div>
    <mat-list>
        <mat-list-item class="product" *ngFor="let product of cart.products; last as isLast">
            <img matListItemAvatar [src]="product.thumbnail" [alt]="product.title">
            <h3 matListItemTitle>{{product.title}}</h3>
            <div matListItemLine>
                <p>{{product.description}}</p>
            </div>
            <div matListItemMeta class="matListItemMeta-wrapper">
                <div>Price: {{product.price | currency:'EUR'}} | Total: {{product.total | currency:'EUR'}}</div>
                <mat-form-field class="example-form-field">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number">
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" *ngIf="!isLast"></mat-divider>
        </mat-list-item>
    </mat-list>
</div>